<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>

    {#include HtmlPagesController/commonHeadInformation /}

    <script src="/js/admin.js"></script>
</head>
<body>
<header>
    {#include HtmlPagesController/adminHeader /}
</header>
<main>
        <h1>Hard skills</h1>
        <form name="hardSkillInformationForm">
            <label for="hardSkillName"></label>
            <input id="hardSkillName"
                   class="inputTextField"
                   placeholder="Hard skill name"
                   required="required">

            <label for="hardSkillType"></label>
            <select id="hardSkillType"
                    required="required">
                <option value="Programming language">Programming language</option>
                <option value="Framework">Framework</option>
                <option value="Database">Database</option>
            </select>

            <input class="button"
                   id="addHardSkillButton"
                   type="submit"
                   value="Save">
        </form>
        <form id="removeProgrammingLanguage">
            <label for="programmingLanguages"></label>
            <select multiple
                    id="programmingLanguages"
                    required="required">
                {#for language in adminPageRenderingInformation.allLanguages}
                <option value="{language.id}">
                    {language.name}
                </option>
                {/for}
            </select>
            <br>

            <input class="deleteButton"
                   id="removeProgrammingLanguagesButton"
                   type="submit"
                   value="Remove">
        </form>
        <form>
            <label for="frameworks"></label>
            <select multiple
                    id="frameworks"
                    required="required">
                {#for framework in adminPageRenderingInformation.allFrameworks}
                <option value="{framework.id}">
                    {framework.name}
                </option>
                {/for}
            </select>
            <br>

            <input class="deleteButton"
                   id="removeFrameworksButton"
                   type="submit"
                   value="Remove">
        </form>
        <form>
            <label for="databases"></label>
            <select multiple
                    id="databases"
                    required="required">
                {#for database in adminPageRenderingInformation.allDatabases}
                <option value="{database.id}">
                    {database.name}
                </option>
                {/for}
            </select>
            <br>

            <input class="deleteButton"
                   id="removeDatabasesButton"
                   type="submit"
                   value="Remove">
        </form>
        <h1>Change user role</h1>
        <form name="changeRoleForm">
            <label for="login"></label>
            <input id="login"
                   class="inputTextField"
                   placeholder="User login"
                   required="required">

            <label for="role"></label>
            <select id="role"
                    required="required">
                <option value="User">User</option>
                <option value="HR">HR</option>
                <option value="Admin">Admin</option>
            </select>

            <input class="button"
                   id="changeRoleButton"
                   type="submit"
                   value="Update">
        </form>
</main>
<footer>
    {#include HtmlPagesController/footer requestStartTime=adminPageRenderingInformation.requestStartTime /}
</footer>
</body>
</html>
