<div class="commentary">
    {#let commentary = commentaryRenderingInformation.commentary}
    <h2>{commentary.title}</h2>
    <h3>{commentaryRenderingInformation.creatorLogin}</h3>
    <h4>{commentary.creationTime.dayOfMonth}.{commentary.creationTime.month.value}.{commentary.creationTime.year}
        {commentary.creationTime.hour}h {commentary.creationTime.minute}min (Utc)
    </h4>
    <br>
    {commentary.body}
    {#if commentary.userId == currentUserId || groups.contains("Admin")}
    <form name="removeCommentaryForm">
        <input id="{commentary.id}"
               class="deleteButton"
               name="removeCommentaryButton"
               type="submit"
               value="Remove">
    </form>
    {/if}
    {/let}
</div>