<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<link href="/css/mainTags.css" rel="stylesheet">
<link href="/css/text.css" rel="stylesheet">
<link href="/css/mediaRestrictions.css" rel="stylesheet">
<link href="/css/buttons.css" rel="stylesheet">
<link href="/css/forms.css" rel="stylesheet">
<link href="/css/tables.css" rel="stylesheet">
<link href="/css/alerts.css" rel="stylesheet">

<script src="/js/pageLoading.js"></script>
<script src="/js/interactiveMenu.js"></script>
<script src="/js/navigationLocation.js"></script>
<script src="/js/commonFunctions.js"></script>
<script src="/js/alerts.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">