<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>

    {#include HtmlPagesController/commonHeadInformation /}

    <link href="/css/registration.css" rel="stylesheet">

    <script src="/js/login.js"></script>
    <script src="/js/authentication.js"></script>
</head>
<body>
<header>
</header>
<main>
    <div id="interactiveAlert" class="popup">
        <button type="button" onclick="renderApplicationPage()">Yes</button>
        <button type="button" onclick="closePopup()">No</button>
    </div>
        <h1>Login</h1>
        <form action="" id="loginForm">
            <label for="uniqueIdentifier"></label>
            <input id="uniqueIdentifier"
                   class="inputTextField"
                   placeholder="Login or email"
                   required="required">
            <br>

            <label for="password"></label>
            <input id="password"
                   class="inputTextField"
                   placeholder="Password"
                   required="required"
                   type="password">
            <br>

            <input class="button"
                   id="loginButton"
                   type="submit"
                   value="Login">
        </form>

        Not registered yet?
        <br>
        <a href="/pages/registration">Registration</a>
</main>
<footer>
</footer>
</body>
</html>
