<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Login</title>

    <link href="/css/mainTags.css" rel="stylesheet">
    <link href="/css/registration.css" rel="stylesheet">
    <link href="/css/buttons.css" rel="stylesheet">
    <link href="/css/forms.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="/js/login.js"></script>
    <script src="/js/authentication.js"></script>
    <script src="/js/commonFunctions.js"></script>
</head>
<body>
<header>
</header>
<main>
    <div class="centeringWrapper">
        <h1>Login</h1>

        <form action="" id="loginForm">
            <label for="uniqueIdentifier"></label>
            <input id="uniqueIdentifier"
                   class="inputTextField"
                   placeholder="Login or email"
                   required="required">
            <br>

            <label for="password"></label>
            <input id="password"
                   class="inputTextField"
                   placeholder="Password"
                   required="required"
                   type="password">
            <br>

            <input class="button"
                   id="loginButton"
                   type="submit"
                   value="Login">
        </form>

        Not registered yet?
        <a href="/pages/registration">Registration</a>

    </div>
</main>
<footer>
</footer>
</body>
</html>
