<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Опыт работы</title>

    <link href="/css/mainTags.css" rel="stylesheet">
    <link href="/css/pictures.css" rel="stylesheet">
    <link href="/css/text.css" rel="stylesheet">
    <link href="/css/mediaRestrictions.css" rel="stylesheet">
    <link href="/css/tables.css" rel="stylesheet">
    <link href="/css/buttons.css" rel="stylesheet">
    <link href="/css/forms.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="/js/configuration.js"></script>
    <script src="/js/pageLoading.js"></script>
    <script src="/js/interactiveMenu.js"></script>
    <script src="/js/navigationLocation.js"></script>
    <script src="/js/dynamicTable.js"></script>
    <script src="/js/pageTemplates.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>
<body>
<header>
</header>
<main>
    <button id="clearLocalStorage">ClearLocalStorage</button>
    <form action="" id="tableSizing">
        <input id="columns" min="1" placeholder="Количество столбцов" required="required" step="1" type="number">
        <input id="rows" min="1" placeholder="Количество строк" required="required" step="1" type="number">
        <input id="tableSizingButton" type="submit" value="Send">
    </form>
    <form action="" id="tableInput">
        <input id="column" min="1" placeholder="Столбец" required="required" step="1" type="number">
        <input id="row" min="1" placeholder="Строка" required="required" step="1" type="number">
        <input id="tableCellContent" placeholder="Значение" required="required" type="text">
        <input id="tableInputButton" type="submit" value="Send">
    </form>
    <div id="customTable"></div>
</main>
<footer>
</footer>
</body>
</html>
