<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Опыт работы</title>

    {#include HtmlPagesController/headApplicationInformation /}
</head>
<body>
<header>
    {#include HtmlPagesController/header /}
</header>
<main>
    <button id="clearLocalStorage">ClearLocalStorage</button>
    <form action="" id="tableSizing">
        <input id="columns" min="1" placeholder="Количество столбцов" required="required" step="1" type="number">
        <input id="rows" min="1" placeholder="Количество строк" required="required" step="1" type="number">
        <input id="tableSizingButton" type="submit" value="Send">
    </form>
    <form action="" id="tableInput">
        <input id="column" min="1" placeholder="Столбец" required="required" step="1" type="number">
        <input id="row" min="1" placeholder="Строка" required="required" step="1" type="number">
        <input id="tableCellContent" placeholder="Значение" required="required" type="text">
        <input id="tableInputButton" type="submit" value="Send">
    </form>
    <div id="customTable"></div>
</main>
<footer>
    {#include HtmlPagesController/footer /}
</footer>
</body>
</html>
