<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Отзывы</title>

    <link href="/css/mainTags.css" rel="stylesheet">
    <link href="/css/pictures.css" rel="stylesheet">
    <link href="/css/text.css" rel="stylesheet">
    <link href="/css/mediaRestrictions.css" rel="stylesheet">
    <link href="/css/buttons.css" rel="stylesheet">
    <link href="/css/reviews.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="/js/configuration.js"></script>
    <script src="/js/pageLoading.js"></script>
    <script src="/js/interactiveMenu.js"></script>
    <script src="/js/navigationLocation.js"></script>
    <script src="/js/workReviews.js"></script>
    <script src="/js/pageTemplates.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>
<body>
<header>
</header>
<main>
    <button id="getReviewsButton" type="button">Load work reviews</button>
    <div id="loading"></div>
    <div class="reviews" id="reviews"></div>
    <template id="reviewItem">
        <div class="reviewItem">
            <strong></strong>
            <br><br>
            <div></div>
        </div>
    </template>
</main>
<footer>
</footer>
</body>
</html>
