nav {
    font-size: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: left;
    color: #1CC5FA;
    text-indent: 0;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.navigationMenuLink {
    font-size: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: left;
    color: #1CC5FA;
    text-indent: 0;
    margin: 5px;
    padding: 10px;
    background-color: #1304a1;
    border-radius: 10px;
}

.classicHref {
    color: #4444dd;
}

.loadInformation {
    font-size: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: left;
    color: #1CC5FA;
    text-indent: 0;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

ul {
    font-size: 20px;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: left;
}

ul li a {
    font-size: 22px;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: left;
    color: #34ff5e;
}


h1 {
    font-size: 35px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    text-align: left;
    text-indent: 10px;
}

h2 {
    font-size: 25px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: bold;
    text-align: left;
    color: #000000;
    text-indent: 0;
}

.quote {
    font-size: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

.navigationMenuHref {
    font-size: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #1CC5FA;
    background-color: #1304a1;
    padding: 10px;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
}
